
$ease: all ease .45s;
$shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
$radius: 5px;

$colors: (
  gray: rgb(233, 233, 233),
  lightgray: rgb(238, 238, 238),
  blue: #48A1E6,
  blue-hover: rgb(58, 145, 212),
  red: rgb(218, 58, 58)
)