
$ease: all ease .5s;
$ease-fast: all ease .3s;
$ease-slow: all ease .7s;
$shadow: 0 10px 25px 25px rgba(0, 0, 0, 0.025);
$radius: 5px;

$colors: (
  gray: rgb(233, 233, 233),
  lightgray: rgb(238, 238, 238),
  lightblack: #4a4a4a,
  blue: #48A1E6,
  blue-hover: rgb(58, 145, 212),
  red: rgb(218, 58, 58),
  white: #fff,
  white-hover: rgb(249, 249, 249),
  placeholder: rgb(182, 182, 182)
)